# Ignorar el núcleo (core) 
wp-admin/
wp-includes/
*.php
!wp-config-sample.php
!index.php

# Ignorar archivos sensibles y de base de datos
wp-config.php
*.sql
*.sqlite

# Ignorar plugins y temas por defecto (solo trackearemos lo nuestro)
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/themes/twentytwenty*/
wp-content/themes/index.php

# Ignorar subidas (imágenes, videos, documentos)
wp-content/uploads/

# Archivos del sistema operativo
.DS_Store
Thumbs.db